extends layout

block content
    h1= title
    p Welcome to our quest page
    include ../elements/ElementsReg.html
    include ../elements/QuestListInit.html
    include ../elements/Login.html




    
  

               


     

          



